.carousel{
  @media only screen and (max-width: 540px){
    .nav-item{
      display:none;
    }
  }
  .item{
    text-align: center;
    overflow: hidden;
    img{
      margin: 0 auto;
      @media only screen and (max-width: 540px) {
        max-height: 100%;
        //margin-left: -360px;
      }
    }
  }
  a{
    color: $text_color !important;
  }

  .carousel-caption{
    max-height: 100%;
    background-color: rgba(0,0,0, 0.5);
    h3{
      @media only screen and (max-width: 540px) {
        margin-top: 20px;
      }
    }
  }
}
.hidden{
  display:none;
}

