//Form scss
form {
  border-radius: 10px;
  p{
    background-color: $secondary_color;
    color: lighten($text_color, 95%);
    padding: 15px;
  }
  .img_container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    img{
      height:100%;
      @media only screen and (max-width: 540px){
        width:100%;
        margin-top: 18px;
      }
    }
  }
  .hidden{
    display:none;
  }
}


