
    <div class="row">
        <div class="col-md-12">
            <div id="myCarousel" class="carousel slide" data-interval="false">
                <ul class="nav nav-tabs nav-justified" id="popculture-navs">
                    <li data-target="#myCarousel" data-slide-to="0" class="nav-item active"><a href="#" class="nav-link">Lesson 1</a></li>
                    <li data-target="#myCarousel" data-slide-to="1" class="nav-item"><a href="#" class="nav-link">Lesson 2</a></li>
                    <li data-target="#myCarousel" data-slide-to="2" class="nav-item"><a href="#" class="nav-link">Lesson 3</a></li>
                    <li data-target="#myCarousel" data-slide-to="3" class="nav-item"><a href="#" class="nav-link">Lesson 4</a></li>
                    <li data-target="#myCarousel" data-slide-to="4" class="nav-item"><a href="#" class="nav-link">Lesson 5</a></li>
                    <li data-target="#myCarousel" data-slide-to="5" class="nav-item"><a href="#" class="nav-link">Lesson 6</a></li>
                    <li data-target="#myCarousel" data-slide-to="6" class="nav-item"><a href="#" class="nav-link">Lesson 7</a></li>
                    <li data-target="#myCarousel" data-slide-to="7" class="nav-item"><a href="#" class="nav-link">Lesson 8</a></li>
                </ul>
                <!-- Wrapper for carousel items -->
                <div class="carousel-inner">
                    <div class="item carousel-item active">
                        <div class="d-flex justify-content-center">
                            <img src="assets/images/popculture/umbrella.jpg" alt="Woman with back turned, carrying umbrella">
                            <div class="carousel-caption">
                                <h3>LESSON 1 - Do not assume their weakness</h3>
                                <p>Each zombie apocalypse is different. Try to find out what caused the zombies to pop up in the first place. Was it a virus? Was it a resurrection plant because the ones in power didn’t want to reveal that the emperor was truly dead before a new heir was born (or fabricated)? Defining the cause can help you define the type of zombie you have in front of you.</p>
                                <p>Every zombie will have its own weakness. In Kingdom, the villagers thought the zombies were sunlight-fearing and thus, that they were safe during the day. Unfortunately, the zombies’ main weakness was heat, not the light itself. So when winter came the zombie show was back on the road before you can say ‘stupid’.</p>

                            </div>
                        </div>
                    </div>
                    <div class="item carousel-item">
                        <div class="d-flex justify-content-center">
                            <img src="assets/images/popculture/swimming.jpg" alt="Man in bath">
                            <div class="carousel-caption">
                                <h3>LESSON 2 - Don’t go swimming</h3>
                                <p>For attentive viewers who’ve seen pirates of the Caribbean: zombies are not necessarily killed by water. And since zombies are not the smartest species to roam the earth, it is safe to say many of them end up under water during their search for flesh. It should be noted, however, that salt water is probably safe since it speeds up the decomposition process. Moreover, underwater depths will most likely also lead to zombie destruction because of the increased pressure. Nevertheless, do not go for a swim in shallow lakes, lest you are up for an unpleasant surprise.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item carousel-item">
                        <div class="d-flex justify-content-center">
                            <img src="assets/images/popculture/stairs.jpg" alt="Two women on the stairs">
                            <div class="carousel-caption">
                                <h3>LESSON 3 - Running is better than fighting</h3>
                                <p>Unless you’re cooped up in a safehouse (or farm) like in The Walking Dead, it is always better to run than to fight the zombies, regardless of whether you have a long-range or short-range weapon. Most zombies spread their disease through biting. What’s more, most of them travel in packs so by the time you’ve engaged with one zombie, ten more might be coming your way.</p>
                                <p>Since running is essential for survival, it is best to travel light. Only take with you the bare minimum of supplies and while a medieval armour might seem appealing (no room to bite, duh!), it is better to opt for light clothing and footwear. Take it from the teenage girls in Zombieland: it is best to stay travelling.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item carousel-item">
                        <div class="d-flex justify-content-center">
                            <img src="assets/images/popculture/hero.jpg" alt="Man looking out of the window">
                            <div class="carousel-caption">
                                <h3>LESSON 4  - Don’t be the hero</h3>
                                <p>Most zombies have no feelings. They will not remember the time you snuggled up to them or even your dreadful engagement party. Even though they still wear the ring, there is little left of their former self. The woman or man you once loved is gone and it best to admit that leaving them be is the best course of action. Do not try to be the hero like Don in 28 Weeks Later, who not only saves his zombie-infested wife, but later tries to kiss her, causing himself to transform in one of the hungries. The virus that was thought eliminated is thus resurrected in the name of love.</p>
                                <p>Moreover, there is no reason to assume your loved ones are worse off than you. Perhaps they’ve got the smarts to flee to a deserted island, or they’ve found their neighbours’ panic room. Stay calm, people.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item carousel-item">
                        <div class="d-flex justify-content-center">
                            <img src="assets/images/popculture/weapon.jpg" alt="Woman holding lamp as weapon">
                            <div class="carousel-caption">
                                <h3>LESSON 5 - Reusable weapons only</h3>
                                <p>What most zombies do have in common is that their brains are still their steering mechanism. Destroy the brain and destroy the zombie. How you do it, is not relevant: you can be creative. However, when choosing a weapon it is important to bear in mind its longevity. A firearm will eventually run out of bullets, whereas as sword might get stuck. Find a weapon that is easy to use, reuse and retract. Think Negan’s reinforced bat in The Walking Dead, Gerry Lane’s axe in World War Z or the snow scooter in Dead Snow.</p>
                                <p>Whatever you do, it is important that all is fair game except for fire. It might seem like a great idea setting your foe alight, but you’ve just made your adversary even more dangerous. They can’t feel the heat, but you definitively will!</p>
                            </div>
                        </div>
                    </div>
                    <div class="item carousel-item">
                        <div class="d-flex justify-content-center">
                            <img src="assets/images/popculture/toilet.jpg" alt="Man on the toilet">
                            <div class="carousel-caption">
                                <h3>LESSON 6 - Do not use the toilet</h3>
                                <p>Not just in the case of a zombie apocalypse, but also in case of fright night or a vampire upsurge: do not use the toilet because this is where the dread happens. This is one scenario in which people with a stoma certainly have an advantage since they never have to enter a toilet stall in a deserted apartment or supermarket. </p>
                            </div>
                        </div>
                    </div>
                    <div class="item carousel-item">
                        <div class="d-flex justify-content-center">
                            <img src="assets/images/popculture/friends.jpg" alt="Two women holding hands in an elevator">
                            <div class="carousel-caption">
                                <h3>LESSON 7 - Do not trust your friends</h3>
                                <p>It might seem like a good idea to trust your friends during a zombie attack. After all, survival can be lonely, but ultimately everyone will try to save their own hide. This means that when you ask them the question ‘have you been bitten?’, they will answer convincingly they have not to avoid you planting a dagger in their brain. In Shaun of the Dead, for instance, it is unclear whether Philip has been bitten or not and the gang trusts him when they shouldn’t have. Similarly, your friends will not hesitate to sacrifice you if that means they can avoid a gruesome death. </p>
                            </div>
                        </div>
                    </div>
                    <div class="item carousel-item">
                        <div class="d-flex justify-content-center">
                            <img src="assets/images/popculture/supermarket.jpg" alt="Man, eating with a spoon and melancholy stare">
                            <div class="carousel-caption">
                                <h3>LESSON 8 - No supermarkets</h3>
                                <p>For most people it is a no-brainer (pun intended): when the city is down, you obviously need all the twinkies from your neighbourhood supermarket. Unfortunately, that is the worst course of action since you should be trying to avoid crowded places. Chances are that your local deli has already done its best to spread the virus and that your death awaits between aisle 3 and 4.</p>
                                <p>Moreover, if you think of the mall zombies in Dawn of the Dead, it is not hard to imagine everyone in the city had the exact same idea and the supermarket has already been looted. Rather than waste your valuable time and resources on this endeavour, it is safer to bash in your neighbour’s brains and steal their valuables: what else are preppers for?</p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <!-- End Carousel Inner -->
            </div>
        </div>
    </div>
