<div class="row">
    <div class="col-12 col-md-6 mb-3 d-flex align-items-stretch">
        <div class="card">
            <h5 class="card-title">What is the zombie apocalypse?</h5>
            <div class="row no gutters mt-auto">
                <div class="col-md-6">
                    <img src="https://via.placeholder.com/150" class="card-img img-fluid" alt="...">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 mb-3 d-flex align-items-stretch">
        <div class="card">
            <h5 class="card-title">Make your own Survival Plan</h5>
            <div class="row no gutters mt-auto">
                <div class="col-md-6">
                    <div class="card-body">
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="https://via.placeholder.com/150" class="card-img" alt="...">
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 mb-3 d-flex align-items-stretch">
        <div class="card">
            <h5 class="card-title">Test: are you infected?</h5>
            <div class="row no gutters mt-auto">
                <div class="col-md-6">
                    <div class="card-body">
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="https://via.placeholder.com/150" class="card-img" alt="...">
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 mb-3 d-flex align-items-stretch">
        <div class="card">
            <h5 class="card-title">Lessons learned from Popular Culture</h5>
            <div class="row no gutters mt-auto">
                <div class="col-md-6">
                    <img src="https://via.placeholder.com/150" class="card-img" alt="...">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>