<div class="row">
    <div class="col-12 col-md-6 col-xl-3 mb-3 d-flex align-items-stretch">
        <div class="card">
            <div class="card__inner">
                <div class="card__face card__face--front">
                    <img src="./assets/images/home/biohazard.svg" class="card-img-overlay icons">
                </div>
                <div class="card__face card__face--back">
                    <div class="card__content">
                        <div class="card__header">
                            <h2>What is the zombie apocalypse?</h2>
                        </div>
                        <div class="card__body">
                            <p> Under construction.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-xl-3 mb-3 d-flex align-items-stretch">
        <div class="card">
            <div class="card__inner">
                <div class="card__face card__face--front">
                    <img src="./assets/images/home/hiking.svg" class="card-img-overlay icons" alt="Mountain climbing icon">
                </div>
                <div class="card__face card__face--back">
                    <div class="card__content">
                        <div class="card__header">
                            <h2>Your own survival plan</h2>
                        </div>
                        <div class="card__body">
                            <p>Under construction.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-xl-3 mb-3 d-flex align-items-stretch">
        <div class="card">
            <div class="card__inner">
                <div class="card__face card__face--front">
                    <img src="./assets/images/home/bacteria-infection-virus.svg" class="card-img-overlay icons" alt="Infection Icon">
                </div>
                <div class="card__face card__face--back">
                    <div class="card__content">
                        <div class="card__header">
                            <h2>Are you infected?</h2>
                        </div>
                        <div class="card__body">
                            <p>Would you survive in the event of a zombie apocalypse? Answer the questions and find out.</p>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-xl-3 mb-3 d-flex align-items-stretch">
        <div class="card">
            <div class="card__inner">
                <div class="card__face card__face--front">
                    <img src="./assets/images/home/presentation-learning.svg" class="card-img-overlay icons" alt="Learning Icon">
                </div>
                <div class="card__face card__face--back">
                    <div class="card__content">
                        <div class="card__header">
                            <h2>Lessons learned <br/> from Popular Culture</h2>
                        </div>
                        <div class="card__body">
                            <p>If you're a moviefreak like this web master you are bound to love this section. Educate yourself!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>