<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="./home.html"><img src="assets/logo.svg"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span><i class="fas fa-bars"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="apocalypse.html"><i class="icon-biohazard"></i>Apocalypse</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="survivalplan.html"><i class="icon-hiking"></i>Survival Plan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="selftest.html"><i class="icon-bacteria"></i>Self-test</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="popculture.html"><i class="icon-learning"></i>Pop Culture</a>
            </li>
        </ul>
    </div>
</nav>