<div class="card result hidden" id="result_fun">
    <img class="card-img-top" src="assets/fun.jpg" />
    <div class="card-body">
            <h5 class="card-title">The Troubled Troublemaker
                <span class="stars">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </span>
            </h5>
        <p class="card-text"> You like to party hard. In a previous life, you knew the meaning of 'golden brown' and most of that rockstar-attitude has stuck with you.
            Your chances of survival are slim to none: in the case of a zombie apocalypse, you'd probably try to french the first undead chick that came your way.
            <br/>
            <br/>
            Luckily for you, our team specializes in helpless cases like you. Reach out to us for the pricing of our zombie-bootcamp. We'll get you back in shape, that's a guarantee.
        </p>
    </div>
</div>
<div class="card result hidden" id="result_american">
    <img class="card-img-top" src="assets/american.jpg" />
    <div class="card-body">
        <h5 class="card-title">The Gun-toting American
            <span class="stars">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </span>
        </h5>
        <p class="card-text"> The american way of life suits you. You breathe McDonalds, have got lead instead of blood and would marry your gun if you could. Your chances of survival are higher than your average plebejan.
            Unfortunately for you, violence is not always the answer. With fire-arms you'll attract unwanted attention, and before you know it, the place will be swarming with zombies.
            <br/>
            <br/>
            Luckily for you, our team specializes in helpless cases like you. Reach out to us for the pricing of our zombie-bootcamp. We'll get you back in shape, that's a guarantee.
        </p>
    </div>
</div>
<div class="card result hidden" id="result_romantic">
    <img class="card-img-top" src="assets/romantic.jpg" />
    <div class="card-body">
        <h5 class="card-title">The Hopeless Romantic
            <span class="stars">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </span>
        </h5>
        <p class="card-text"> We get it: all you need is love...but not in times of war! Instead of having your significant other make the important decisions, it is time to (wo)man up.
            There might be a time when it's you or them and certainly, you'll have to be prepared to make the sacrifice because with your current mindset, you'll have more chance of surviving by literally hiding under a rock.
            <br/>
            <br/>
            Luckily for you, our team specializes in helpless cases like you. Reach out to us for the pricing of our zombie-bootcamp. We'll get you back in shape, that's a guarantee.
        </p>
    </div>
</div>
<div class="card result hidden" id="result_rational">
    <img class="card-img-top" src="assets/rational.jpg" />
    <div class="card-body">
        <h5 class="card-title">The Voice of Reason
            <span class="stars">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </span>
        </h5>
        <p class="card-text"> Your partner recently left you because you are too 'stable' and 'boring' (their words). Fortunately for you, this mindset is a great asset in case
            of a zombie apocalypse. You think before you act and are generally conflict-averse. However, do you really think it a good idea to get supplies in the supermarket, a place
            bound to be festered with zombies? It is clear your wit can be further sharpened.
            <br/>
            <br/>
            Luckily for you, our team specializes in helpless cases like you. Reach out to us for the pricing of our zombie-bootcamp. We'll get you back in shape, that's a guarantee.
        </p>
    </div>
</div>
<div class="card result hidden" id="result_indecisive">
    <img class="card-img-top" src="assets/indecisive.jpg" />
    <div class="card-body">
        <h5 class="card-title">The 'Happy to be Alive'
            <span class="stars">
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </span>
        </h5>
        <p class="card-text"> You have no strategy and try whichever method suits you at the moment. Most of your survival skills depend on sheer luck.
            If your mother would see you now, she'd say she did a pretty good job, but you ruined it...and not even on purpose. You're a freak of nature, an accident waiting to happen.
            At the end of the day you're thinking maybe joining the other side is not too bad so you can devour the brains you don't possess.
            <br/>
            <br/>
            Luckily for you, our team specializes in helpless cases like you. Reach out to us for the pricing of our zombie-bootcamp. We'll get you back in shape, that's a guarantee.
        </p>
    </div>
</div>
