// import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika&display=swap');

// color scheme
$primary_color: #8A0303;
$secondary_color: #660000;
$tertiary_color: #B5AC5F;

$background_color: #E9ECEF;
$text_color: #260703;

// filters
$black_to_text_color: invert(7%) sepia(15%) saturate(4913%) hue-rotate(335deg) brightness(92%) contrast(105%);
$black_to_secondary_color: invert(92%) sepia(6%) saturate(2012%) hue-rotate(6deg) brightness(89%) contrast(104%);
$black_to_tertiary_color: invert(50%) sepia(58%) saturate(252%) hue-rotate(354deg) brightness(93%) contrast(88%);

//fonts
$main_font: "Amatic SC", cursive;
$secondary_font: "Andika", sans-serif;


